<div>
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="col-md-7 justify-content-start">
                <a mat-button routerLink="department" style="text-decoration: none;">Department</a>
                <a mat-button routerLink="employee" routerLinkActive="router-link-active" >Employee</a>
                <a mat-button routerLink="search" routerLinkActive="router-link-active" >Search</a>
              </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>
